/* Content */
.content p {
  text-align: center;
  font-size: 28px;
  line-height: 1.8;
}

.content img {
  max-width: 150px;
}

/* Button */
a {
  text-decoration: none;
  overflow: initial;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50px;
  padding: 15px 10px 15px 18px;
  font-size: 22px;
  color: #13072e;
  cursor: pointer;
  transition: 1s;
}

.labs i {
  margin-left: 12px;
  font-size: 30px;
  overflow: initial;
}

button:hover {
  transform: scale(1.05);
  transition: 0.8s;
}